#{extends 'main.html' /} #{set title:'Input' /}
<h2>Input your Graph</h2>
<br/>
#{if flash.error}
<div class="error">${flash.error}</div>
#{/if}
<div class="steps">Step 1/2</div>
Please insert a Graph:
<br />
<br/>
<a href="#" id="info-toggle">How to Input a Graph</a>
<div id="info">
Examples:<br/>
<br/>
A => B<br/>
<br/>
AB => C<br/>
AB v C => D<br/>
</div>
<br />
<br/>
<form action="@{DrawGraph.drawGraph()}" method="POST">
	<textarea rows="20" cols="50" name="graph">
</textarea>
	<br />
	<p></p>
	<input type="submit" name="go" value="Calculate Graph" />
</form>
<script type="text/javascript">		
	$(document).ready(function() {
		 $('#info').hide();
 // toggles the slickbox on clicking the noted link  
  $('#info-toggle').click(function() {
    $('#info').toggle(100);
    return false;
  });
});
</script>