# do not commit all the eclipse stuff
/.metadata
/cis/.buildpath
/cis/.classpath
/cis/.project
/cis/.settings
/cis/cache
/cis/log
/cis/eclipse/
/cis/precompiled/
/cis/public/images/graphs/
/cis/conf/deploy.rb

#server specific files

/cis/conf/application.conf
/cis/conf/routes
/cis/app/views/main.html
/cis/app/models/Renderer.java

# do not commit all temporary play stuff
/cis/cobertura.ser
/cis/logs
/cis/server.pid
/cis/tmp
/cis/test-result

# and do not commit the stuff from mac users
.DS_Store

# do not commit files that are created while merging
*.orig

#do not commit temp files
*~
*.*~
*.log
