# do not commit all the eclipse stuff
/.metadata
/cis/.buildpath
/cis/.classpath
/cis/.project
/cis/.settings
/cis/cache
/cis/log
/cis/eclipse/
/cis/precompiled/

# do not commit all temporary play stuff
/cis/cobertura.ser
/cis/logs
/cis/server.pid
/cis/tmp
/cis/test-result

# and do not commit the stuff from mac users
.DS_Store

# do not commit files that are created while merging
*.orig

#do not commit temp files
*~
*.*~
*.log

#do not commit all images
*.png
