#{extends 'main.html' /}
#{set title:'Home' /}
<h2>Difference Test - Table</h2>
	#{if flash.error}
		<div class="error">
			${flash.error}
		</div>
	#{/if}
	<div class="steps">
	Step 2/3
	</div>
	<br>
	<form action="@{QuadroTestController.calcQuadroGraph()}" method="POST">
		<table>
		<tr>
		    <td><br>
		  </tr>
		  <tr>
		    <td>Now you can insert 1 or 0 in the table. A 1 if the factor should be instantiated, a 0 if the factor should not be instantiated.</th>
		  </tr>
		</table>
		<table>
		  <tr>
		    <td><br></td><td></td><td></td>
		  </tr>
		  <tr>
		    <td></td><td>${f2}</td><td>¬${f2}</td>
		  </tr>
		  <tr>
		  	<td align="right">${f1}</td><td><input type="number" name="i" value="0" /></td><td><input type="number" name="ii" value="0" /></td>
		  </tr>
		  <tr>
		  	<td align="right">¬${f1}</td><td><input type="number" name="l" value="0" /></td><td><input type="number" name="ll" value="0" /></td>
		  <tr>
		    <td><br></td><td></td><td></td>
		  </tr>
		  <tr>
		  	<td></td><td><input type="submit" name="go" value="Calculate Graph" /></td><td></td>
		  </tr>
		</table>
		<input type="hidden" name="f1" value="${f1}"/>
		<input type="hidden" name="f2" value="${f2}"/>
	</form>