#{extends 'main.html' /}
#{set title:'Home' /}
<h2>CNA Analysis - Graph Generation</h2>
	#{if flash.error}
		<div class="error">
			${flash.error}
		</div>
	#{/if}
	<div class="steps">
	Step 2/3
	</div>
	<br>
	<center>
		<img src="${generatedGraphSource}" />
		<h3>${generatedGraphString}</h3>
<font size="1">Note: Alternative Factors will always be shown in green<br> and X and Y factor will not be shown in picture<br> to keep the graph readable.</font>
	</center>
	<br>
	#{if calc}
	<form action="@{CNAController.calcCNAGraph()}" method="POST" >
		<input type="hidden" name="generatedGraphSource" value="${generatedGraphSource}"/>
		<input type="hidden" name="generatedGraphString" value="${generatedGraphString}"/>
		<input type="submit" name="cnaTest"        value="Calculate Graph"/>
	#{/if}
	#{else}
	#{/else}
	</form>
	