<script type="text/javascript">		
	$(document).ready(function() {
		 $('#slickbox').hide();
  	$('#slick-toggle').click(function() {
    $('#slickbox').toggle(100);
    return false;
  	});
});
	$(document).ready(function() {
		$('#orig').hide();
	$('#orig-toggle').click(function() {
	$('#orig').toggle(100);
   	return false;
 	});
});
</script>
#{extends 'main.html' /}
#{set title:'Coincidence Table Input' /}
<h2>Coincidence Table Input</h2>
<hr>
	#{if flash.error}
		<div class="error">
			${flash.error}
		</div>
	#{/if}
	<div class="steps">
	Step 2/2
	<h3>${specialCase}</h3>
	</div>
	#{ifnot specialcase}
		<h3>Calculated Graph</h3>
		Calculation Time: ${elapsedTime}
		<br>
		<br>
		#{if notEffects}
		Marked as no effect: ${notEffects}
		#{/if}
		<br />
		<br />
			#{list items:graphsView, as:'l'}
				#{if l_parity == "odd"}
					<center><img src="${l}" /></center>
				#{/if}
				#{if l_parity == "even"}
					<center><h3>${l}</h3><br></center>
					#{ifnot l_isLast}<hr>#{/ifnot}
				#{/if}
			#{/list}
		<center>
		<font size="1">Note: X and Y factors will not be shown in picture<br> to keep the graph readable.</font>
		</center>
	#{/ifnot}
	#{else}
		<br>
		<br>
		<h4>Unfortunately our algorithm was not able to calculate graphs.<br><br><br> But it was possible to calculate the following minimal theories:</h4>
			#{list items:graphsView, as:'l'}
			<ul>
			<li>${l}</li>
			</ul>
			#{/list}
	#{/else}