#{extends 'main.html' /}
#{set title:'Minimal Theory Input' /}
<h2>Minimal Theory Input</h2>
<hr>
	#{if flash.error}
		<div class="error">
			${flash.error}
		</div>
	#{/if}
	<div class="steps">
	Step 2/3
	</div>
	<h3>Generated Graph</h3>
	<center>
	<img src="${generatedGraphSource}" />
	<h3>${generatedGraphString}</h3>
	<font size="1">Note: X and Y factors will not be shown in picture<br> to keep the graph readable.</font>
	#{if table}
	<h3>Coincidence Table</h3>
		<table>
		#{list items:table, as:'l'}
			#{if l == "/n"}<tr>#{/if}
			#{else}
			<td>${l}</td>
			#{/else}
			#{if l == "/n"}</tr>#{/if}
		#{/list}
		</table>
	#{/if}
	</center>
	#{if calc}
	<form action="@{CNAController.calcCNAGraph()}" method="POST" >
		<input type="hidden" name="generatedGraphSource" value="${generatedGraphSource}"/>
		<input type="hidden" name="generatedGraphString" value="${generatedGraphString}"/>
		<input type="hidden" name="table" value="${table}"/>
		<input type="hidden" name="coincTable" value="${coincTable}"/>
		<input type="submit" name="cnaTest"        value="Calculate Graph"/>
	#{/if}
	#{else}
	#{/else}
	</form>