<STYLE TYPE="text/css">
<!--
TD{font-family: Helvetica, Veranda, Arial, sans-serif; font-size: 10pt; font-style:normal; font-weight: normal;}
TH{font-family: Helvetica, Veranda, Arial, sans-serif; font-size: 10pt; font-style:normal; font-weight: normal;}
--->
</STYLE>

<script type="text/javascript">		
	$(document).ready(function() {
		 $('#info-mt').hide();
	$('#info-mt-toggle').click(function() {
    $('#info-mt').toggle(100);
    return false;
  });
});
	$(document).ready(function() {
		 $('#info-table').hide();
	$('#info-table-toggle').click(function() {
	$('#info-table').toggle(100);
   return false;
 });
});
</script>
#{extends 'main.html' /}
#{set title:'CNA Analysis' /}
<h2>CNA Analysis</h2>
	#{if flash.error}
		<div class="error">
			${flash.error}
		</div>
	#{/if}
<hr>
<div class="steps">
Step 1/2
</div>
<h3>Coincidence Table Input</h3>
<br>
<a href="#" id="info-table-toggle">Learn how to enter a table.</a>
<div id="info-table">
<br>
<table>
<tr><td>Example:</td><td>E,D,B,A,C	</td></tr>
<tr><td></td><td>0,0,0,0,0</td></tr>
<tr><td></td><td>0,0,0,1,1</td></tr>
<tr><td></td><td>1,1,0,0,0</td></tr>
<tr><td></td><td>1,1,0,1,1</td></tr>
<tr><td></td><td>1,0,1,0,1</td></tr>
<tr><td></td><td>1,0,1,1,1</td></tr>
<tr><td></td><td>1,1,1,0,1</td></tr>
<tr><td></td><td>1,1,1,1,1</td></tr>
</table>	
</div>
<br />
<br/>
Enter here:
<br />
<form action="@{CNAController.inputTable}" method="POST">
	<textarea rows="15" cols="20" name="table"></textarea>
	<br>
	<br>
	Is not an effect:<br>
	<input type="text" name="notEffects" /><font size="1">(e.g. A,B,C)</font>
	<br />
	<p></p>
	<input type="submit" name="Next" value="Next" />
</form>
<hr>
<div class="steps">
Step 1/3
</div>
<h3>Minimal Theory Input</h3>
<br />
<a href="#" id="info-mt-toggle">Learn how to enter a MT</a>
<div id="info-mt">
<br>
<table>

<tr><td>Simple MT:</td><td>A v B &lt;=&gt; C</td></tr>
<tr><td></td><td></td></tr>
<tr><td>MT with Bundles:</td><td>AB v C &lt;=&gt; D</td></tr>
<tr><td></td><td></td></tr>
<tr><td valign = "top">Chain:</td><td>A v BC &lt;=&gt; D <br>D v E &lt;=&gt; F</td></tr>
<tr><td></td><td></td></tr>
<tr><td valign = "top">Epiphenomenon:<br><font size="1">(Manchester Factory Hooters)</font></td><td>A v B &lt;=&gt; C<br>B v D &lt;=&gt; E</td></tr>
</table>
</div>
<br/>
<br>
Enter here:
<br />
<form action="@{CNAController.inputMT()}" method="POST">
	<textarea rows="10" cols="40" name="mtset"></textarea>
	<br />
	<p></p>
	<input type="submit" name="Next" value="Next" />
</form>
<hr>
<div class="steps">
Step 1/3
</div>
<h3>Random Graph Generator</h3>

<form id="form" action="@{CNAController.generateGraph()}" method="POST">

<table class="f">
<th></th>
<th align = "center">Factors in<br/><b>first</b> Bundle</th>
<th>Factors in<br/><b>second</b> Bundle</th>
<th><b>Alternate</b> Factors</th>
<tr class="f">
	<td class="f">Minimal Theory <b>1</b></td>
	<td class="f"><input type="number" class="f" name="bundles1" value="0" /></td>
	<td class="f"><input type="number" class="f" name="bundles1" value="0" /></td>
	<td class="f"><input type="number" class="f" name="alterFactors" value="0" /></td>
</tr>
<tr class="f">
	<td class="f">Minimal Theory <b>2</b></td>
	<td class="f"><input type="number" class="f" name="bundles2" value="0" /></td>
	<td class="f"><input type="number" class="f" name="bundles2" value="0" /></td>
	<td class="f"><input type="number" class="f" name="alterFactors" value="0" /></td>
</tr>
<tr class="f">
	<td class="f">Minimal Theory <b>3</b></td>
	<td class="f"><input type="number" class="f" name="bundles3" value="0" /></td>
	<td class="f"><input type="number" class="f" name="bundles3" value="0" /></td>
	<td class="f"><input type="number" class="f" name="alterFactors" value="0" /></td>
</tr>
</table>
<br/>
<input type="checkbox" name="epi"> Make a Epiphenomenon<br/>
<input type="checkbox" name="showBundleNum"> Show Bundle Numbering <br/>
<br/>
<input type="submit" value="Next"/>
</form>