<!DOCTYPE html>
<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        #{stylesheet 'main.css' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.4.2.min.js'}" type="text/javascript" charset="utf-8"></script>
        #{get 'moreScripts' /}
    </head>
    <body>
       	<div class="main">
       		<div class="header">
       		
       		</div><!-- end header -->
      		<div class="navigation">

       		</div><!-- end navigation -->
       		<div class="content">
       		<applet code="/eclipse/classes/models/Plotter.class" width="800" height="600"></applet>
       		</div><!-- end content -->
       		<div class="footer">
       		
       		</div><!-- end footer -->
       	</div><!--  end main -->
    </body>
</html>
