<!DOCTYPE html>
<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        #{stylesheet 'main.css' /}
        <script src="@{'/public/javascripts/jquery-1.6.2.min.js'}" type="text/javascript" charset="utf-8"></script>
        #{get 'moreScripts' /}
    </head>
    <body>
       	<div class="main">
       		<div class="header">
       			<a href="/"><h1>Causal Inference Simulator</h1></a>
       			Jonas Ruef and Felix Langenegger
       		</div><!-- end header -->
      		<div class="navigation">
			<a href="/">Home</a> | 
			<a href="@{CNAController.setup()}">CNA Analysis</a> |
			<a href="@{QuadroTest.setup()}">Quadro Test</a> | 
			<a href="@{Input.setup()}">Input Table</a> | 
			<a href="@{drawGraph.setup()}">Draw Graph</a> |   
			<a href="@{Application.contact()}">Contact</a> 
       		</div><!-- end navigation -->
       		<div class="content">
       		#{doLayout /}
       		</div><!-- end content -->
       		<div class="footer">
       		Last changed: 17/07/2011
       		</div><!-- end footer -->
       	</div><!--  end main -->

    </body>
</html>
