#{extends 'main.html' /} #{set title:'Input' /}
<h2>Input your own Coincidence Table</h2>
<br/>
#{if flash.error}
<div class="error">${flash.error}</div>
#{/if}
<div class="steps">Step 1/2</div>
Please insert a Coincidence Table:
<br />
<br/>
<a href="#" id="info-toggle">How to Input a Table</a>
<div id="info">
Example:<br/>
<br/>
A:B:C:D<br/>
1:0:1:0<br/>
0:1:0:1<br/>
0:0:0:1<br/>
</div>
<br />
<br/>
<form action="@{Input.calcCNAGraph()}" method="POST">
	<textarea rows="20" cols="50" name="table">
</textarea>
	<br />
	<p></p>
	<input type="submit" name="go" value="Calculate Graph" />
</form>

<script type="text/javascript">		
	$(document).ready(function() {
		 $('#info').hide();
 // toggles the slickbox on clicking the noted link  
  $('#info-toggle').click(function() {
    $('#info').toggle(100);
    return false;
  });
});
</script>