#{extends 'main.html' /}
#{set title:'Home' /}
<h2>CNA Algorithm - Baumgartner Sample</h2>
	#{if flash.error}
		<div class="error">
			${flash.error}
		</div>
	#{/if}
	<h3>Calculated Graph</h3>
	Algorithm: ${algorithmName} <br />
	Calculation Time: ${elapsedTime}
	<br />
	<br />
	<a href="#" id="slick-toggle">More Informations</a>
	<div id="slickbox">
	<h4>CNA Step O - Identification for potential effects</h4>
	Effects: ${effects}
	<h4>CNA Step 2 - Identification of sufficient conditions</h4>
		<table>
		#{list items:sufTable, as:'l'}
			#{if l == "\n"}<tr>#{/if}
			#{else}
			<td>${l}</td>
			#{/else}
			#{if l == "\n"}</tr>#{/if}
		#{/list}
		</table>
	<h4>CNA Step 3 - Minimalization of sufficient conditions</h4>
	<p>($ means don't care)</p>
			<table>
		#{list items:msufTable, as:'l'}
			#{if l == "\n"}<tr>#{/if}
			#{else}
			<td>${l}</td>
			#{/else}
			#{if l == "\n"}</tr>#{/if}
		#{/list}
		</table>
		<h4>CNA Step 5 - Identification of necessary conditions</h4>
		${necList}
		</table>
		<h4>CNA Step 6 - Minimalization of necessary conditions</h4>
		<table>
		#{list items:mnecTable, as:'l'}
			#{if l == "\n"}<tr>#{/if}
			#{else}
			<td>${l}</td>
			#{/else}
			#{if l == "\n"}</tr>#{/if}
		#{/list}
		</table>
		<h4>CNA Step 7 - Framing minimal theories and casual interpretation</h4>
		<table>
		#{list items:fmt, as:'l'}
			#{if l == ","}<tr>#{/if}
			#{else}
			<td>${l}</td>
			#{/else}
			#{if l == ","}</tr>#{/if}
		#{/list}
		</table>
		
	</div>
	<center>
	#{list items:graphPaths, as:'m'}
		<img src="${m}" /><br/>
	#{/list}
		#{list items:stringGraphs, as:'s'}
		<p>${s}</p>
	#{/list}
	<br/>
	</center>
		
		
<script type="text/javascript">		
	$(document).ready(function() {
		 $('#slickbox').hide();
 // toggles the slickbox on clicking the noted link  
  $('#slick-toggle').click(function() {
    $('#slickbox').toggle(400);
    return false;
  });
});
</script>