#{extends 'main.html' /}
#{set title:'Home' /}
<h2>CNA Analysis - Baumgartner (2009) Sample</h2>
	#{if flash.error}
		<div class="error">
			${flash.error}
		</div>
	#{/if}
	<h3>Calculated Graph</h3>
	Calculation Time: ${elapsedTime}
	<br />
	<br />
	<center>
	<img src="${graphPath}" />
		<h3>${graphString}</h3>
		</center>
		<br>
	<center>
	<font size="1">Note: Alternative Factors will always be shown in green<br> and X and Y factor will not be shown in picture<br> to keep the graph readable.</font>
	<br/>
	</center>
		
		