<script type="text/javascript">		
	$(document).ready(function() {
		 $('#slickbox').hide();
  	$('#slick-toggle').click(function() {
    $('#slickbox').toggle(100);
    return false;
  	});
});
	$(document).ready(function() {
		$('#orig').hide();
	$('#orig-toggle').click(function() {
	$('#orig').toggle(100);
   	return false;
 	});
});
</script>
#{extends 'main.html' /}
#{set title:'Home' /}
<h2>CNA Analysis - Table Input, Calculated Graph</h2>
	#{if flash.error}
		<div class="error">
			${flash.error}
		</div>
	#{/if}
	<div class="steps">
	Step 3/3
	</div>
	<h3>Calculated Graph</h3>
	Calculation Time: ${elapsedTime}
	<br />
	<br />
		#{list items:graphsView, as:'l'}
			#{if l_parity == "odd"}
				<center><img src="${l}" /></center>
			#{/if}
			#{if l_parity == "even"}
				<center><h3>${l}</h3><br></center>
				#{ifnot l_isLast}<hr>#{/ifnot}
			#{/if}
		#{/list}
	<br>
	<br>
	<a href="#" id="slick-toggle">More Informations</a>
	<div id="slickbox">
	<h4>CNA Step O - Identification for potential effects</h4>
	Effects: ${effects}
	<h4>CNA Step 2 - Identification of sufficient conditions</h4>
		<table>
		#{list items:sufTable, as:'l'}
			#{if l == "\n"}<tr>#{/if}
			#{else}
			<td>${l}</td>
			#{/else}
			#{if l == "\n"}</tr>#{/if}
		#{/list}
		</table>
	<h4>CNA Step 3 - Minimalization of sufficient conditions</h4>
	<p>($ means don't care)</p>
			<table>
		#{list items:msufTable, as:'l'}
			#{if l == "\n"}<tr>#{/if}
			#{else}
			<td>${l}</td>
			#{/else}
			#{if l == "\n"}</tr>#{/if}
		#{/list}
		</table>
		<h4>CNA Step 5 - Identification of necessary conditions</h4>
		${necList}
		</table>
		<h4>CNA Step 6 - Minimalization of necessary conditions</h4>
		<table>
		#{list items:mnecTable, as:'l'}
			#{if l == "\n"}<tr>#{/if}
			#{else}
			<td>${l}</td>
			#{/else}
			#{if l == "\n"}</tr>#{/if}
		#{/list}
		</table>
	</div>	
	<br><br>
	<center>
	<font size="1">Note: Alternative Factors will always be shown in green<br> and X and Y factor will not be shown in picture<br> to keep the graph readable.</font>
	</center>
		
