#{extends 'main.html' /}
#{set title:'Home' /}
<h2>CNA Analysis - Setup</h2>
<p>Run the sample from Baumgartner 2009 Paper:<p/>
<form action="@{CNAController.baumgartnerSample()}" method="POST">
<input type="submit" name="quick" value="Quick Run" />
</form>
<br />
	#{if flash.error}
		<div class="error">
			${flash.error}
		</div>
	#{/if}
	<hr />
	<div class="steps">
	Step 1/4
	</div>
	<h3>Generate a random causal graph.</h3>

<form id="form" action="@{CNAController.generateGraph()}" method="POST">
<table class="f">
<th></th>
<th>Size Bundle 1</th>
<th>Size Bundle 2</th>
<th># Alternate Factors</th>
<tr class="f">
	<td class="f">Layer 1</td>
	<td class="f"><input type="number" class="f" name="bundles1" value="" /></td>
	<td class="f"><input type="number" class="f" name="bundles1" value="" /></td>
	<td class="f"><input type="number" class="f" name="alterFactors" value="" /></td>
</tr>
<tr class="f">
	<td class="f">Layer 2</td>
	<td class="f"><input type="number" class="f" name="bundles2" value="" /></td>
	<td class="f"><input type="number" class="f" name="bundles2" value="" /></td>
	<td class="f"><input type="number" class="f" name="alterFactors" value="" /></td>
</tr>
<tr class="f">
	<td class="f">Layer 3</td>
	<td class="f"><input type="number" class="f" name="bundles3" value="" /></td>
	<td class="f"><input type="number" class="f" name="bundles3" value="" /></td>
	<td class="f"><input type="number" class="f" name="alterFactors" value="" /></td>
</tr>
</table>
<br/>
<input type="checkbox" name="epi"> Epiphenomenon<br/>
<input type="checkbox" name="showBundleNum"> Show Bundle Numbering <br/>
<br/>
<input type="submit" value="Next"/>
</form>